@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f2f5;
}

.modal-overlay { 
  opacity: 0;
  visibility: hidden;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

/* table tbody tr {
  opacity: 0.7;
}

table tbody tr:hover {
  opacity: 1;
} */

#data-table {
  border-spacing: 0 0.5rem;
}
